.DS_Store

python/fixjson.py
oldclustering.json

python/model/checkQuestions.py

python/model/data/exp/

python/model/data/cc1-train.csv
python/model/data/cc2-train.csv
python/model/data/cc3-train.csv
python/model/data/cc4-train.csv
python/model/data/dfe1-train.csv
python/model/data/dfe2-train.csv
python/model/data/dfe3-train.csv
python/model/data/dfe4-train.csv
python/model/data/rts1-train.csv
python/model/data/rts2-train.csv
python/model/data/rts3-train.csv
python/model/data/rts4-train.csv

python/__pycache__/transferGrade.cpython-36.pyc
python/model/__pycache__/users.cpython-36.pyc
python/model/__pycache__/answers.cpython-36.pyc
python/model/__pycache__/cleanData.cpython-36.pyc
python/__pycache__/helper.cpython-36.pyc
python/__pycache__/default.cpython-36.pyc

python/model/data/sqlqueries.sql

python/model/1/cc/mytree.jld2
python/model/1/cc/tree.dot
python/model/1/cc/tree.png
python/model/2/cc/mytree.jld2
python/model/2/cc/tree.dot
python/model/2/cc/tree.png
python/model/3/cc/mytree.jld2
python/model/3/cc/tree.dot
python/model/3/cc/tree.png
python/model/4/cc/mytree.jld2
python/model/4/cc/tree.dot
python/model/4/cc/tree.png

python/model/1/rts/mytree.jld2
python/model/1/rts/tree.dot
python/model/1/rts/tree.png
python/model/2/rts/mytree.jld2
python/model/2/rts/tree.dot
python/model/2/rts/tree.png
python/model/3/rts/mytree.jld2
python/model/3/rts/tree.dot
python/model/3/rts/tree.png
python/model/4/rts/mytree.jld2
python/model/4/rts/tree.dot
python/model/4/rts/tree.png

python/model/1/dfe/mytree.jld2
python/model/1/dfe/tree.dot
python/model/1/dfe/tree.png
python/model/2/dfe/mytree.jld2
python/model/2/dfe/tree.dot
python/model/2/dfe/tree.png
python/model/3/dfe/mytree.jld2
python/model/3/dfe/tree.dot
python/model/3/dfe/tree.png
python/model/4/dfe/mytree.jld2
python/model/4/dfe/tree.dot
python/model/4/dfe/tree.png
