{{define "title"}}Get Started{{end}}

{{define "getstarted"}}

<div class="card">
    <h1>Welcome to Your Personalized Assignment 👋</h1>
    <a href="/quiz">
        <button class="btn login-btn" type="submit">
            <span>
                Get Started
            </span>
        </button>
    </a>
</div>
{{end}}
